Flask==3.1.3
Flask-Caching==2.4.1
rdkit==2026.3.3
py3Dmol==2.5.5
FPSim2==0.7.4
openclatura==0.2.0
openbabel==3.2.1
cairosvg==2.9.0
gunicorn==21.2.0
pandas==3.0.3
numpy==2.5.0
requests==2.34.2
gdown==6.1.0
